.btn_back_container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.btn_wrapper{
    flex: auto;
}

.button {
    width: 118px;
    color: #677294;
    background-color: white;
    font-weight: 500;
    box-shadow: 0 2px 8px #c9c9c9;
    border-radius: 8px;
    font-size: 14px;
    line-height: 1.2;
    margin-top: 2rem;
    cursor: pointer;
}

.button:hover {
    color: white;
    background-color: #677294;
}

.button:hover img {
    filter: brightness(0) invert(1);
}

.btn_show{
    border: none;
    padding: 16px 8px 8px 8px;
}

.searchContainer {
    position: relative;
    max-width: 100%;
    margin-top: 24px;
}

.btn_back_top{
    display: none;
}

.select_country{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.select_wrapper{
    flex: auto;
}

.select_title {
    margin-top: 0;
}

.comparison_table_btn{
    flex: 0 0 auto;
    display: none;
}

.comparison_container_mb{
    display: block;
}

.comparison_wrapper_mb{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col_auto{
    flex: 0 0 auto;
}

.btn_show_mb{
    width: auto;
    padding: 8px;
    box-shadow: 0 2px 8px #c9c9c9;
    font-weight: bold;
    border: 1px solid transparent;
}

.comparisonTable_mb{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.comparison_text_mb{
    flex: 1;
    padding-left: 8px;
}

.search {
    height: 40px;
    padding-left: 12px;
    padding-right: 12px;
}

.slider :global(.slick-dots) li {
    width: auto;
    height: auto;
}

.slider :global(.slick-dots) li span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    font-size: 15px;
    font-weight: bold;
}

.slider :global(.slick-dots) li:global(.slick-active) span {
    color: #fff;
    background: #2c2c51;
    font-weight: 500;
}

.slider_container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
}

.slide_btn{
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
    border: 1px solid transparent;
    box-shadow: 0 0 6.03774px rgb(201 201 201 / 25%)!important;
}

.slider .sliderNext,
.slider .sliderPrev {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    flex: 0 0 40px;
    width: 40px;
    height: 40px;
    padding: 0;
    box-shadow: 0 0 6.03774px #000;
    opacity: 1;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
}

.slider .sliderNext svg,
.slider .sliderPrev svg {
    color: red !important;
}

.slider .sliderNext {
    right: -25px;
}

.slider .sliderPrev {
    left: -25px;
}

.slider_item{
    width: 100%;
    padding: 0 15px;
    padding-top: 10px!important;
}

.card {
    background-color: white;
    border-radius: 8px;
    padding: 4px 20px 8px 20px;
    box-shadow: 0 2px 8px rgb(201 201 201 / 25%)!important;
    min-height: 140px;
    margin: 0 0 30px 0;
    cursor: pointer;
}

.card_wrapper{
    display: flex;
    position: relative;
    width: 100%;
}

.card_inside{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}

.img_wrapper{
    flex: 0 0 auto;
}

.card .cardImg {
    width: 48px;
    height: 48px;
    flex: 0 0 48px;
    border-radius: 50%;
    box-shadow: 0 0 8px 0 rgba(119, 119, 119, .15) !important;
}

.card .cardTitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #2c2c51;
    margin-bottom: 0;
}

.card .contentWrapper{
    flex: 1;
}

.card .content{
    padding-left: 24px;
}

.card ul {
    font-size: 12px;
}

.card ul li {
    list-style: disc;
}

.card .cardIconNext {
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
    flex: 0 0 30px;
    width: 30px;
    height: 30px;
    background: #007eff;
    color: white;
    border-radius: 50%;
    margin: 0 1.25rem 1.25rem 0;
}

.card:hover {
    background-color: #007eff;
    color: white;
}

.company_type{
    padding-left: 16px;
    margin-bottom: 0;
}

.card:hover .cardTitle {
    color: white;
}

.card:hover .cardIconNext {
    display: flex;
    background: white;
    color: #007eff;
}

.dialog {
    max-width: 1152px;
}

.nav .navLink {
    color: #adadad;
    transition: all ease 0.2s;
}

.nav .navLink:hover {
    color: #2c2c51;
}

.nav .navLink:global(.active) {
    background-color: #2c2c51;
    color: white;
}

.back {
    padding: 0;
    background: transparent;
    border: none;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    color: #007eff;
}

.back:focus {
    box-shadow: none;
}

.backMobile_wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.btn_back_bottom{
    display: block;
}

.backMobile {
    padding: 0;
    background: transparent;
    border: none;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    color: #2c2c51;
}

.backMobile:hover {
    color: #2c2c51;
}

.backMobile:focus {
    box-shadow: none;
}

.Header {
    height: 50px;
}



@media (max-width: 575px) {
    .Body {
        max-height: calc(100vh - 334px);
        overflow-y: auto;
        padding: 0 15px;
        margin: 0 -15px;
    }
}

@media (min-width: 768px) {
    .card .cardImg {
        width: 64px;
        height: 64px;
        flex: 0 0 64px;
    }
    .card {
        min-height: 154px;
    }
}

@media (min-width: 992px) {
    .comparison_container_mb{
        display: none;
    }
    .select_title{
        margin-top: 40px;
    }
    .comparison_table_btn {
        display: flex;
    }
    .searchContainer {
        max-width: 400px;
    }

    .slider_container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 32px;
    }
    .btn_back_top {
        display: block;
    }

    .search {
        height: 56px;
        width: 100%;
    }

    .btn_back_bottom{
        display: none;
        padding: 0;
    }
}

@media (min-width: 1200px) {
    .slider .sliderPrev {
        left: -36px;
    }
}

@media (min-width: 1400px) {
    .card .cardImg {
        width: 58px;
        height: 58px;
        flex: 0 0 58px;
    }
    .slider .sliderPrev {
        left: -46px;
    }
}