.Title {
  font-size: 2rem;
  line-height: 2.5rem;
  color: #2c2c51;
  font-weight: 500;
  margin-top: 40px;
  margin-bottom: 16px;
}
@media (max-width: 991px) {
  .Title {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 0;
  }
}
.Content p,
.Content li {
  font-size: 1.5rem;
  line-height: 2rem;
  color: #677294;
}
@media (max-width: 991px) {
  .Content p,
  .Content li {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.Content p {
  margin-bottom: 16px;
}

.Content li {
  margin-bottom: 4px;
}
.Footer {
  display: flex;
  align-items: center;
}

.highlightBtn {
  background-color: #677294;
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
  border: none;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.highlightBtn:hover {
  background-color: #2c2c51;
}

@media (max-width: 991px) {
  .Footer {
    flex-direction: column;
  }
  .highlightBtn {
    background-color: #2c2c51;
  }
}
.Footer a {
  padding: 10px 16px;
  font-size: 1.25rem;
  line-height: 1.75rem;
  display: inline-block;
  color: #2c2c51;
}
@media (max-width: 991px) {
  .Footer a {
    margin-top: 16px;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
