.modal_container {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1050;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100vh;
}

@keyframes fadeIn {
  0% {
    transform: translateY(-2%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.modal_backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
  animation: opacity 0.25s ease;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}
