.selectTitle {
  margin-top: 40px;
  color: #2c2c51;
  font-size: 32px;
  line-height: 40px;
  font-weight: 500;
}

.descriptionText {
  font-size: 24px;
  line-height: 32px;
  margin-top: 24px;
}

.descriptionText:not(:last-child) {
  margin-bottom: 24px;
}

.btn_back_top {
  display: inline-block;
}

.btn_back_bottom {
  display: none;
}

.selecttype_container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.select_type {
  width: 50%;
  padding: 0 23px;
}

.Package {
  border: none;
  display: block;
  text-align: center;
  position: relative;
  margin-top: 0;
  padding: 40px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 8px #000;
}

.Package_title {
  margin-top: 24px;
  margin-bottom: 0;
}

.Package:hover {
  background-color: #007eff;
}

.Package:hover h3 {
  color: #fff;
}

.Package:hover p {
  opacity: 1;
}

.Package h3 {
  color: #2c2c51;
  font-size: 32px;
  margin-top: 24px;
  margin-bottom: 0;
}

.Package p {
  width: 30px;
  height: 30px;
  font-size: 19px;
  opacity: 0;
  margin: 0 auto;
}

.Package img {
  max-width: 100%;
}

.SelectServiceScreen {
  max-width: 992px;
}

.Link {
  font-size: 20px;
  line-height: 1.75rem;
  text-decoration: none;
  color: #007eff;
  font-weight: 500;
  max-width: max-content;
}

.promotion {
  position: absolute;
  top: -16px;
  right: -24px;
  background: linear-gradient(135deg, #007eff 0%, #2c2c51 100%);
  border-radius: 50%;
  color: #fff;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  padding: 16px 12px;
  width: 64px;
  height: 64px;
}

.arrowCircle {
  margin-top: 24px !important;
  background-color: #fff;
  border-radius: 24px;
  color: #007eff;
  padding-top: 2px;
}

.Header {
  height: 50px;
}

@media (max-width: 375px) {
  .Package img {
    max-width: 100%;
  }
}

@media (max-width: 575px) {
  .Body {
    max-height: calc(100vh - 220px);
    overflow-y: auto;
    margin: 0 -23px;
    padding: 0 23px;
    padding-bottom: 10px;
  }
  .select_type {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .Package h3 {
    font-size: 16px;
    margin-top: 16px;
  }
  .Package {
    margin-top: 24px;
  }
  .selecttype_container {
    margin-top: 24px;
  }
}

@media (max-width: 991px) {
  .Package {
    padding: 24px 16px;
  }
  .descriptionText {
    margin-top: 16px;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 24px;
  }
  .descriptionText:not(:last-child) {
    margin-bottom: 8px;
  }
  .select_title {
    margin-top: 0;
    color: #2c2c51;
    font-size: 24px;
    line-height: 32px;
  }
  .btn_back_top {
    display: none;
  }

  .btn_back_bottom {
    display: block;
  }
  .Link {
    order: 5;
    margin-top: 24px;
    color: #2c2c51;
    font-size: 16px;
    line-height: 24px;
  }
}
