.container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto !important;
  height: 100%;
}

.topWrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0;
  justify-content: space-between;
  width: 100%;
}

.btnBackTop {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0;
  text-decoration: none;
  color: #007eff;
  cursor: pointer;
}

.faqWrapper {
  display: flex;
  align-items: center;
}

.faqBtn {
  padding: 0;
  color: #007eff;
  font-weight: 700;
  margin-left: 4px;
  box-shadow: none;
  cursor: pointer;
  background: transparent;
  border: none;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 auto;
  height: 100%;
}

.titleWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.description {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}
.title {
  margin-top: 40px;
}

.totalWrapper {
  text-align: left;
  display: block;
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.totalWrapper {
  text-align: right;
}

.price {
  display: none;
  margin-left: 4px;
}

.priceWrapper {
  display: block;
}

.serviceWrapper {
  font-weight: 700;
  display: flex;
}

.colMd1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
  padding: 0;
}

.colMd2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
  padding: 0;
}

.colMd4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
  padding: 0;
}

.fieldNote {
  margin-top: 24px;
  margin-bottom: 0;
  text-align: center;
}

.fieldWrapper {
  padding-left: 0;
  padding-right: 0;
  margin-top: 8px;
}

.customFieldWrapper {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.quantityField {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media (max-width: 576px) {
  .customFieldWrapper {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

@media (min-width: 577px) and (max-width: 991px) {
  .customFieldWrapper {
    padding: 24px 16px 24px 16px;
  }
}

.customField {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.tableServices {
  max-height: 200px;
  overflow: auto;
}

.tableServices .servicesRow {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #2c2c51;
  white-space: nowrap;
}
.tableServices .servicesRow .tableCellGroup1 {
  position: relative;
  color: #677294;
  padding: 8px;
}
.tableServices .servicesRow .tableCellGroup1::before {
  position: absolute;
  content: '';
  border-bottom: 1px solid #cfcfcf;
  bottom: 0;
  width: 77%;
}
.servicesGroup {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #2c2c51;
  white-space: nowrap;
}

.servicesGroup .tableGroup1 {
  display: block;
  padding-left: 0 !important;
}

.servicesGroup .selectWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.servicesGroup .tableCellGroup1 {
  position: relative;
  color: #677294;
  padding: 8px 8px 8px 0;
}
.servicesGroup .tableCellGroup1::before {
  position: absolute;
  content: '';
  border-bottom: 1px solid #cfcfcf;
  bottom: 0;
  width: 90%;
}

.servicesGroup .tableCellGroup1 .select {
  border: 0;
  width: 90%;
  cursor: pointer;
}

.fieldBtn {
  display: flex;
  justify-content: center;
  padding-left: 0;
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.servicesGroup .tableCellGroup1 .quantity {
  display: flex;
}

.servicesGroup .tableCellGroup1 .quantity button {
  background-color: #677294;
  border-radius: 50%;
  padding: 0;
  border: 0;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -2px 10px 0;
}

.servicesGroup .tableGroupLast {
  display: flex;
  justify-content: center;
  padding-left: 0;
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.lineDivider {
  border-bottom: 2px dashed #e0e0e0;
}
.singButton {
  color: #677294;
  font-size: 16px;
  line-height: 24px;
}

.singButton svg {
  opacity: 0;
  margin-top: -4px;
  min-width: 30px;
}
.singButton:hover {
  color: #007eff;
}
.singButton:hover svg {
  opacity: 1;
}
.Header {
  height: 50px;
}
.CustomGroup > div {
  padding: 0;
}
.CustomGroup > div > :nth-child(2) > div {
  padding: 8px 24px;
}
.CustomGroup > div > :nth-child(2) > div::before {
  content: '•';
}
.CustomOption::before {
  content: '-';
  padding-right: 8px;
}

.controlWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

.controlWrapper .addService {
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  background-color: #677294;
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
  border: none;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.controlWrapper .clearAll {
  background: transparent;
  cursor: pointer;
  font-weight: 500;
  color: #333;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  border: none;
  font-size: 20px;
  padding: 0.5rem 1.5rem;
}

.addService:hover {
  background-color: #2c2c51;
}

.bottomWrapper {
  display: flex;
  align-items: center;
}

.bottomWrapper .btnBackBottom {
  display: none;
  margin-right: 8px;
}

.bottomWrapper .btnBackBottom a {
  font-size: 20px;
  margin-bottom: 0;
  padding: 8px;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  color: inherit;
}

.bottomWrapper .nextBtn {
  margin-right: 0;
  margin-left: 0;
  background-color: #677294;
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
  border: none;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.bottomWrapper .nextBtn span {
  display: flex;
  align-items: center;
}

.bottomWrapper .skipBtn {
  background: transparent;
  cursor: pointer;
  font-weight: 500;
  color: #333;
  border: none;
  font-size: 20px;
  padding: 0.5rem 1.5rem;
}

.bottomWrapper .skipBtn span {
  display: flex;
  align-items: center;
}

.questionContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 auto;
}

.questionContainer .titleQuestionWrapper {
  display: flex;
  justify-content: space-between;
}

.questionContainer .titleQuestionWrapper button {
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  background: transparent;
}

.questionContainer .answerWrapper {
  margin-top: 16px;
}

.questionContainer .answerWrapper button {
  display: flex;
  padding: 0;
  margin-top: 4px;
  text-align: left;
  box-shadow: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

@media (max-width: 575px) {
  .servicesGroup .selectWrapper {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .controlWrapper {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .servicesGroup .selectWrapper {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .controlWrapper {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

@media (max-width: 767px) {
  .bottomWrapper .nextBtn {
    margin-right: 4px;
  }
}

@media (min-width: 768px) {
  .servicesGroup .tableGroup1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .questionContainer .answerWrapper {
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .bottomWrapper .nextBtn {
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .tableServices .servicesRow {
    display: none;
  }
  .btnBackBottom {
    display: inline !important;
  }
  .servicesGroup .tableGroupLast {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .fieldBtn {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .servicesGroup .tableGroup1 {
    display: none;
  }
  .fieldWrapper {
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 0;
  }
  .fieldNote {
    margin-bottom: 24px;
  }
  .serviceWrapper {
    display: none;
  }
  .priceWrapper {
    display: none;
  }
  .price {
    display: inline-block;
  }
  .totalWrapper {
    text-align: left;
  }
  .totalWrapper {
    display: flex;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .title {
    margin-top: 0;
  }
  .description {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .topWrapper {
    display: none;
  }
  .titleWrapper {
    margin-bottom: 8px;
  }
  .tableServices {
    background-color: #f9f9f9;
  }
  .servicesGroup .tableCellGroup1:nth-child(4),
  .servicesGroup .tableCellGroup1:nth-child(5) {
    justify-content: center;
  }
  .servicesGroup .tableCellGroup1:nth-child(4)::before,
  .servicesGroup .tableCellGroup1:nth-child(5)::before {
    border-bottom: none;
  }
  .servicesGroup .selectWrapper {
    margin-bottom: 8px;
    padding-left: 0;
  }
}

@media (min-width: 992px) {
  .questionContainer .titleQuestionWrapper button {
    display: none;
  }
  .quantityField {
    display: none;
  }
  .lineDividerWrapper {
    display: none;
  }
  .singButton {
    font-size: 24px;
    line-height: 32px;
  }
  .singButton svg {
    margin-top: 0px !important;
  }
  .customField {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0;
  }
}
