/* add css module styles here (optional) */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
}
.Register {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #677294;
  padding: 48px 64px;
}
@media (max-width: 991px) {
  .Register {
      padding: 84px 24px;
    }
}


