/* add css module styles here (optional) */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #677294;
  /* padding: 48px 64px; */
}

button {
  transition: all 0.15s ease-in-out;
}

p {
  margin: 0;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #2c2c51;
  font-weight: 500;
}

h3 {
  font-size: 24px;
}

h1,
h2,
h3 {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  margin-top: 0;
  margin-bottom: 8px;
  line-height: 1.2;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

a {
  text-decoration: none;
  color: #007eff;
  cursor: pointer;
}

:global(.animate_spin) {
  font-weight: 700;
  animation-name: spinner;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 991px) {
  h2 {
    font-size: 24px;
    line-height: 32px;
  }
}
