/* add css module styles here (optional) */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #677294;
  padding: 48px 64px;
}

p {
  margin: 0;
}

h2,
.h2 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #2c2c51;
  font-weight: 500;
}

@media (max-width: 991px) {
  body {
    padding: 84px 24px;
  }
  h2 {
    font-size: 24px;
    line-height: 32px;
  }
}
